/* Student Name: Umanga Shrestha
ID: C0882758 */
main {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}

aside {
    flex-basis: 35%;
}

section {
    flex-basis: 60%;
    padding-left: 30px;
}

main h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

article {
    margin-bottom: 20px;
}

main h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

table tr td{
    width: 50%;
    margin: 5px;
}
table tr td img{
    display: block;
    width: 100%;
}


@media screen and (max-width: 768px) {

    main {
        flex-direction: column;
    }

    section {
        flex-basis: 100%;
        padding-right: 0;
    }

    aside {
        flex-basis: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 480px) {

    section article {
        margin-bottom: 10px;
    }

}
