/* Student Name: Umanga Shrestha
ID: C0882758 */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.nav-list{
    list-style-type: none;
}

.nav-list .list-item{
    display: inline-block;
    padding: 20px 10px;
}

nav a{
    text-decoration: inherit;
    color: inherit;
}

nav a:hover{
    color: rgb(159, 241, 214);
}


/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    margin-top: auto;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    /* Adjustments for Tablet */
    nav h1 a {
        font-size: 22px;
    }

    nav ul li a {
        font-size: 14px;
    }

    footer p {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    /* Adjustments for Mobile */
    nav h1 {
        font-size: 20px;
    }

    nav ul li a {
        font-size: 12px;
    }

    footer p {
        font-size: 10px;
    }
}
